.food-details-header {
    position: relative;
    color: white;
}

.food-details-header-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.food-details-header-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-size: 100px;
}

.recipes-container {
    margin: 30px;
}

.recipes-title {
    margin-bottom: 30px;
    font-size: 30px;
    color: #87a890;
}

.food-details__add {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    font-size: 70px;
    border: none;
    color: white;
}

.food-details__add:hover {
    font-size: 75px;
}