.food-details-header {
    position: relative;
    color: white;
}

.food-details-header-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.food-details-header-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-size: 100px;
}