.food-item-tile {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: center;
}

.food-item-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.food-item-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.food-page__add {
    position: relative;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 5px;
    right: 5px;
    background-color: black;
    opacity: 0.5;
    border: none;
    border-radius: 10px;
}

.food-page__add:hover {
    opacity: 1.0;
    background-color: transparent;
}

.addText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    padding-bottom: 15px;
    /* opacity: 1.0; */
    font-size: 70px;
    color: white;
}

.food-page__not-in-season {
    position: relative;
    position: absolute;
    top: 0px;
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 0.65;
    border: none;
}

.not-in-season-text {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    width: 100%;
    color: white;
}