.banner {
    position: relative;
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bannerImage {
    object-fit: cover;
    overflow: hidden;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
    margin-right: 30px;
    min-width: 255px;
  }

  .text-container {
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .button {
      margin-right: 20px;
      border-radius: 5px;
      -webkit-appearance: none;
      width: 150px;
      padding: 15px;
      font-size: 20px;
      border: solid 1px #87a890
  }

  .button:hover {
    background-color: #87a890;
}

  .browse {
    background-color: #87a890;
  }

  .diagram-container {
    margin-top: 40px;
    width: 100%;
  }

  .three-step-diagram {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
  }

  .step {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 20px;
  }

  .step-image {
    width: 200px;
    height: 200px;  
  }

  @media screen and (max-width: 700px) {
    .content {
      left: 30px;
    }

    .text-container {
      font-size: 35px;
      margin-bottom: 15px;
    }

    .three-step-diagram {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 50%;
      transform: translate(-50%);
    }

    .step {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 380px) {
    .text-container {
      font-size: 25px;
      margin-bottom: 20px;
    }

    .buttons-container {
      flex-direction: column;
      margin-right: 0;
    }

    .button {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  