.banner {
    position: absolute;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 0;
    -webkit-background-size: cover;
  }

  .bannerImage {
    object-fit: cover;
    overflow: hidden;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
  }

  .text-container {
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .button {
      margin-right: 20px;
      width: 200px;
      border-radius: 5px;
  }

  .browse {
    background-color: #87a890;
  }