.login-view {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1536235635699-370e8047ac1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.form {
    width: 50%;
    min-width: 150px;
    height: 380px;
    margin: 50px;
    padding: 30px;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
}

.input {
    margin-bottom: 30px;
    height: 40px;
    width: 80%;
    font-size: 20px;
    padding: 5px;
    border: solid 1px grey
}

.label {
    font-size: 20px;
}

.button {
    -webkit-appearance: none;
    padding: 15px;
    width: 100px;
    font-size: 20px;
    border: solid 1px #87a890
}

.button:hover {
    background-color: #87a890;
}