.navbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    background: white;
}

.logo {
    height: 80px;
}

.nav-button {
    margin-top: 35px;
    margin-left: 20px;
}

.sessions {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
}