.shopping-list-view {
    /* position: absolute;
    height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1536235635699-370e8047ac1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover; */
}

.shopping-list-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    display: inline-block;
    background-color: white;
    padding: 40px;
    border-radius: 30px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 70px;
}

.image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.name {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translate(0, -50%);
    font-size: 20px;
    color: grey;
}

.shopping-list-title {
    margin-bottom: 30px;
    font-size: 30px;
    color: #87a890;
}

.line {
    border: solid 0.5px #e9f1ed;
}

.checkbox-container {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 20px;
}

.shopping-list-text {
    margin-top: 30px;
    font-size: 20px;
    color: grey;
}

.button {
    /* position: absolute; */
    margin-top: 20px;
    right: 20px;
    width: 150px;
    /* height: 50px; */
    
}